body {
    background-color: #258DF7;
    color: whitesmoke;
    font-family: 'Staatliches', sans-serif;
}

#appTitle {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Staatliches', sans-serif;
    font-size: 80px;
}

#genreForm, #playBtn {
    text-align: center;
    margin: 0px auto;
    display: block;
}

#genres {
    font-family: 'Staatliches', sans-serif;
    font-size: 1.2em;
}

#movieInfo {
    width:  65%;
    margin:  32px auto;
}

#movieInfo:after {
    content:  "";
    display:  table;
    clear:  both;
}

#moviePoster, #movieText {
    width:  50%;
    float:  left;
}

img#moviePoster {
    width:  100%;
    height:  auto;
    display:  block;
    margin:  auto;
}

#movieText {
    font-family: 'Questrial';
    color: #FEFBEA;
    line-height: 1.25;
}

#movieTitle, #movieOverview {
    padding:  32px;
}

#likedMovies, #dislikedMovies {
    display: none;
}


#playBtn {
    margin-top: 20px;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 10px;
    border-style: none;
    background-color: #2D58E0;
    color: whitesmoke;
    cursor:  pointer;
    border: #FEFBEA 1px solid;
}

#playBtn:hover {

    background-color:  whitesmoke;
    color:#2D58E0;

}

label {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
}

select {
    width: 200px;
    height: auto;
}

#likeOrDislikeBtns {
    text-align: center;
    margin: 0px auto;  
}

#likeBtn, #dislikeBtn {
    padding: 15px 25px;
    margin: 5px;
    font-size: 25px;
    border-radius: 12px;
    border-style: none;
    cursor:  pointer;
    border: solid 1px whitesmoke;
}

#likeBtn {
    background-color: #24BDED;
    color: whitesmoke;
}

#dislikeBtn {
    background-color: #E0436F;
    color:whitesmoke;
}

footer {
    border-top: solid 1px whitesmoke;
    padding: 10px;
    margin-top: 10px;
}